.bendDiv {
  position: relative;
  width: 20%;
  height: 1px;
}

.bendDiv:before {
  content: "";
  position: absolute;
  top: -40px;
  left: -2px;
  height: 40px;
  width: 100%;
  border-bottom-left-radius: 30%;
  box-shadow: 0 2px 1px -1px gray;
}
